.heading {
	background: #456; 
	color: white;"
}

.favorites {
	background: #e6e9ec;
	padding: 10px; 
	border-radius: 4px; 
	display: inline-block; 
	margin: 5px;
	vertical-align: top;
}

.favorites h3 {
	color: green;
}

.interests {
	background: #e6e9ec;
	padding: 10px; 
	border-radius: 4px; 
	display: inline-block; 
	margin: 5px;
	vertical-align: top;
}

.interests h3 {
	color: green;
}

.programming {
	background: #e6e9ec;
	padding: 10px; 
	border-radius: 4px; 
	display: inline-block; 
	margin: 5px;
}

.programming h3 {
	color: green;
}

.code {
	background: #e6e9ec;
	padding: 10px; 
	border-radius: 4px; 
	display: inline-block; 
	margin: 5px;
}

.code h3 {
	color: green;
}

.code ol li {
	text-indent: 1.5em;

}
.footer {
	background: #789; 
	color: #def; 
	text-align: right;
	font-size: small;
}
